.upantalla {
    display: flex;
    width: 100%;
    height: 150px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    color: red;
    font-size: xx-large;
    font-weight: bold;
    overflow-y: auto;
}

h2 {
    color: aliceblue;
}