.calculadora {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.pantalla {
    min-height: 100px;
    border: 1px solid whitesmoke;
    margin-bottom: 5px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2px 10px;
}

.operacion {
    min-height: 50px;
    text-align: right;
    font-size: x-large;
}

.resultado {
    min-height: 50px;
    text-align: right;
    font-size: large;
    color: grey;
}

.numeros {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    font-size: xx-large;
}

.numeros div {
    border-radius: 10px;
    transition: all 500ms linear;
    cursor: pointer;
}

.numeros div:hover {
    background-color: rgba(255, 255, 255, 0.3);
}