/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    min-height: 100%;
    background-color: black;
    color: white;
}